@charset 'utf-8';

/* パソコン、タブレット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #333;
	line-height: 150%;
}


/*------------------ header ---------------------*/


/*------------------ nav --------------------*/


/*------------------ footer ---------------------*/
footer {
    clear: both;
    padding: 6px 0;
    width: 100%;
    background: royalblue;
    color: white;
    color: #fff;
    text-align: center;
}

/*タブレット 縦のみ	*/
@media screen and (max-width: 1024px) and (orientation: portrait){
    
}
/* タブレット 縦から */
@media screen and (max-width: 1024px){
    
}
/* スマホ 横のみ */
@media screen and (max-width: 896px) and (orientation: landscape){
    
}
/* スマホ 横から */ 
@media screen and (max-width: 896px){
    
}
/* スマホ　縦からは */
@media screen and (max-width: 480px){
    
}